<header class="header">
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
      <div class="container-fluid">
        <div class="d-flex align-items-center"><a class="navbar-brand py-1" href="index.html"><img width="175" height="50" viewBox="0 0 175 50" fill="none" src="images/logo.png" alt="TripHouse Logo"></a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <!-- Megamenu-->
            <li class="nav-item dropdown position-static"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Profilo Utente</a>
              <div class="dropdown-menu megamenu py-lg-0">
                <div class="row">
                  <div class="col-lg-9">
                    <div class="row p-3 pr-lg-0 pl-lg-5 pt-lg-5">
                      <div class="col-lg-3">
                        <!-- Megamenu list -->
                        <h6 class="text-uppercase">Utente</h6>
                        <ul class="megamenu-list list-unstyled">
                          <li class="megamenu-list-item"><a class="megamenu-list-link" href="/finestraListaPrenotazioniEffettuate">Visualizza prenotazione effettuata   </a></li>
                          <li class="megamenu-list-item"><a class="megamenu-list-link" href="/modificaDatiPersonali">Modifica dati personali   </a></li>
                        </ul> 
                      </div>
                      <div class="col-lg-3">
                        <!-- Megamenu list -->
                        <h6 class="text-uppercase">Host</h6>
                        <ul class="megamenu-list list-unstyled">
                          <li class="megamenu-list-item"><a class="megamenu-list-link" href="/finestraListaPrenotazioniRicevute">Visualizza prenotazione ricevuta   </a></li>
                          <li class="megamenu-list-item"><a class="megamenu-list-link" href="/aggiungiAlloggio">Aggiungi alloggio   </a></li>
                          <li class="megamenu-list-item"><a class="megamenu-list-link" href="/visualizzaAlloggio">Visualizza alloggio   </a></li>
                          <li class="megamenu-list-item"><a class="megamenu-list-link" href="index.html">Supporto economico e legale   </a></li>
                          <li class="megamenu-list-item"><a class="megamenu-list-link" href="finestraListaPrenotazioniRicevute.html">Comunicazione dati ospiti    </a></li>
                        </ul>
                      </div>
                      <div class="col-lg-6">
                        <div class="col-lg-10 offset-lg-1">
                          <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                              <img class="avatar-profilo shadow p-1 bg-white mb-2" src="images/Nino.jpg" alt="..."/>
                              <h5 class="card-title">Nome Utente</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 d-none d-lg-block"><img class="bg-image" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/photo-1521170665346-3f21e2291d8b.jpg" alt=""></div>
                </div>
              </div>
            </li>
            <!-- /Megamenu end-->
            <li class="nav-item"><a class="nav-link" href="Registrazione.html">Registrati</a></li>
            <li class="nav-item"><a class="nav-link" href="Autenticazione.html">Accedi</a></li>
            <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block"><a class="btn btn-primary" href="user-add-0.html">Diventa Host</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- /Navbar -->
</header>