<!DOCTYPE html>
<html lang="it">
  <head>
    <!-- head -->
    <% include partials/head.ejs %>
    <!-- head -->
  </head>

  <body style="padding-top: 72px;">
    <!-- header -->
    <% include partials/header.ejs %>
    <!-- header -->
    <section class="hero-home">
      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper dark-overlay">
          <div class="swiper-slide" style="background-image:url(images/home_slideshow/s_8.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/home_slideshow/s_9.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/home_slideshow/s_13.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/home_slideshow/u_1.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/home_slideshow/u_2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/home_slideshow/photo-1501621965065-c6e1cf6b53e2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/home_slideshow/photo-1519974719765-e6559eac2575.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/home_slideshow/photo-1490578474895-699cd4e2cf59.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/home_slideshow/photo-1534850336045-c6c6d287f89e.jpg)"></div>
        </div>
      </div>
      <div class="container-xl py-6 py-md-7 text-white z-index-20">
        <div class="row">
          <div class="col-xl-10">
            <div class="text-center text-lg-left">
              <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow">A sostegno del tuo viaggio</p>
              <h1 class="display-3 font-weight-bold text-shadow">La meta è partire.</h1>
            </div>
            <div class="search-bar mt-5 p-3 p-lg-1 pl-lg-4">
              <form action="#" autocomplete="off">
                <div class="row">
                  <div class="col-lg-3 d-flex align-items-center form-group">
                    <input id="prova" class="form-control border-0 shadow-0" type="text" name="search" placeholder="Dove vuoi andare?">
                  </div>
                  <!--Data-->
                  <div class="col-lg-4 d-flex align-items-center form-group">
                    <label class="form-label" for="form_dates"></label>
                    <div class="datepicker-container datepicker-container-left">
                      <input class="form-control" type="tetx" name="bookingDate" id="form_dates" placeholder="Scegli le tue date" required="required" style="border: none;">
                    </div>
                  </div>
                  <div class="col-lg d-flex align-items-center form-group no-divider">
                    <select class="selectpicker" title="Quanti ospiti?" data-style="btn-form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
                  </div>
                  <div class="col-lg">
                    <button class="btn btn-primary btn-block rounded-xl h-100" type="submit" formaction="ricerca">Cerca</button>
                  </div>
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-6 bg-gray-100">
      <div class="container">
        <div class="text-center pb-lg-4">
          <p class="subtitle text-secondary">Un'esperienza unica</p>
          <h2 class="mb-5">Prenotare con noi è facile</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <div class="icon-rounded bg-primary-light mb-3">
                <svg class="svg-icon text-primary w-2rem h-2rem">
                  <use xlink:href="#destination-map-1"> </use>
                </svg>
              </div>
              <h3 class="h5">Trova l'alloggio perfetto</h3>
              <p class="text-muted">Il nostro sistema di ricerca e di filtraggio ti permette di individuare velocemente gli alloggi che soddisfano i tuoi interessi.</p>
            </div>
          </div>
          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <div class="icon-rounded bg-primary-light mb-3">
                <svg class="svg-icon text-primary w-2rem h-2rem">
                  <use xlink:href="#pay-by-card-1"> </use>
                </svg>
              </div>
              <h3 class="h5">Prenota con facilità</h3>
              <p class="text-muted">Gestisci le prenotazioni con pochi click, che tu sia un ospite o un host.</p>
            </div>
          </div>
          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <div class="icon-rounded bg-primary-light mb-3">
                <svg class="svg-icon text-primary w-2rem h-2rem">
                  <use xlink:href="#heart-1"> </use>
                </svg>
              </div>
              <h3 class="h5">Goditi la vacanza</h3>
              <p class="text-muted">Prenota un alloggio e inizia a fare le valigie, al resto ci pensiamo noi.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Divider Section-->
    <section class="py-7 position-relative dark-overlay"><img class="bg-image" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/photo-1497436072909-60f360e1d4b1.jpg" alt="">
      <div class="container">
        <div class="overlay-content text-white py-lg-5">
          <h3 class="display-3 font-weight-bold text-serif text-shadow mb-5">Pronto per la tua vacanza?</h3> <!-- <a class="btn btn-light" href="category-rooms.html">Get started</a> -->
        </div>
      </div>
    </section>
    <section class="py-7">
      <div class="container">
        <div class="text-center">
          <p class="subtitle text-primary">Testimonianze</p>
          <h2 class="mb-5">I nostri clienti dicono di noi</h2>
        </div>
        <!-- Slider main container-->
        <div class="swiper-container testimonials-slider testimonials">
          <!-- Additional required wrapper-->
          <div class="swiper-wrapper pt-2 pb-5">
            <!-- Slides-->
            <div class="swiper-slide px-3">
              <div class="testimonial card rounded-lg shadow border-0">
                <div class="testimonial-avatar"><img class="img-fluid" src="images/Nino.jpg" alt="..."></div>
                <div class="text">
                  <div class="testimonial-quote"><i class="fas fa-quote-right"></i></div>
                  <p class="testimonial-text">Formaggio o limone?</p><strong>Nino u' ballerino</strong>
                </div>
              </div>
            </div>
            <div class="swiper-slide px-3">
              <div class="testimonial card rounded-lg shadow border-0">
                <div class="testimonial-avatar"><img class="img-fluid" src="images/fratelli.jpg" alt="..."></div>
                <div class="text">
                  <div class="testimonial-quote"><i class="fas fa-quote-right"></i></div>
                  <p class="testimonial-text">Ho preso er muro, fratellì.</p><strong>1727wrldstar</strong>
                </div>
              </div>
            </div>
            <div class="swiper-slide px-3">
              <div class="testimonial card rounded-lg shadow border-0">
                <div class="testimonial-avatar"><img class="img-fluid" src="images/tommaso.jpg" alt="..."></div>
                <div class="text">
                  <div class="testimonial-quote"><i class="fas fa-quote-right"></i></div>
                  <p class="testimonial-text">Che accendo? Sta zorba accendo? Che minchia accendo? Sta minchia accendo? Tutte cose atturtaru.</p><strong>Tommaso</strong>
                </div>
              </div>
            </div>
            <div class="swiper-slide px-3">
              <div class="testimonial card rounded-lg shadow border-0">
                <div class="testimonial-avatar"><img class="img-fluid" src="images/rosario.jpg" alt="..."></div>
                <div class="text">
                  <div class="testimonial-quote"><i class="fas fa-quote-right"></i></div>
                  <p class="testimonial-text">Basi di Dati. Materia di corso. 9 CFU.</p><strong>Rosario Sorbello</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination">     </div>
        </div>
      </div>
    </section>

    <!-- Footer-->
      <% include partials/footer.ejs %>
    <!-- Footer-->
    
    <!-- Script Footer -->
      <% include partials/scriptFooter.ejs %>
    <!-- Script Footer -->
  </body>
</html>