<!DOCTYPE html>
<html lang="it">
    <head>
        <% include partials/head.ejs %>
      </head>
      <body style="padding-top: 72px;">
        <% include partials/header.ejs %>
        
    </body>
</html>