<!DOCTYPE html>
<html lang="it">

  <!-- head -->
  <% include ../partials/head.ejs %>
  <!-- head -->

  <body style="padding-top: 72px;">
    
      <!-- header utente loggato -->
      <% include ../partials/headerUtenteLogin.ejs %>
      <!-- header utente loggato -->

    <div class="progress rounded-0 sticky-top" style="height: 8px; top: 71px;">
      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <p class="subtitle text-primary">Prenota la tua casa vacanza</p>
            <h1 class="h2 mb-5"> Conferma <span class="text-muted float-right">Step 4</span>      </h1>

            <div class="text-block">
              <form method="POST" action="#">
                <div class="d-flex justify-content-between align-items-end mb-4">
                  <h5 class="mb-0">Seleziona quando pagare</h5>
                  
                </div>
                <fieldset class=" col-lg-8">
                  <div class="form-group style="text-align: center; margin-top: 1em; ">
                      <input type="radio" class="tipoPagamento" id="pagAntCap" name="metodoPagamento" value="caparra" autocomplete="off" required>
                      <label for="pagAntCap">Pagameto anticipato della caparra</label><br />
                      <input type="radio" class="tipoPagamento" id="pagAntPren" name="metodoPagamento" value="interoImporto" autocomplete="off" required>
                      <label for="pagAntPren">Pagamento anticipato intera somma</label><br />
                      <input type="radio" class="tipoPagamento" id="pagLoco" name="metodoPagamento" value="pagamentoLoco" autocomplete="off" required>
                      <label for="pagLoco">Pagamento in loco</label>
                  </div>
                </fieldset>
              </form>

              <div class="text-block" style="margin-top: 1em;" >
                <h6>Attenzione</small></h6>
                <p><small>Se viene scelta una delle due forme di pagamento anticipato,
                trovere il modulo di pagamento dentro la pagina visualizza
                prenotazione effettuata.</small></p>
              </div>
            </div>
            <div class="text-block">
              <h6>Politica di cancellazione</h6>
              <p class="text-sm text-muted">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of .</p>
              <p class="text-sm text-muted">He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the flounde.</p>
            </div>
            <div class="row form-block flex-column flex-sm-row">
              <div class="col text-center text-sm-left"><a class="btn btn-link text-muted" href="/prenotazione/prenotazionePg3"> <i class="fa-chevron-left fa mr-2"></i>Indietro</a>
              </div>
              <div class="col text-center text-sm-right"><a class="btn btn-primary px-3" href="/prenotazione/prenotazionePg5">Conferma<i class="fa-chevron-right fa ml-2"></i></a></div>
            </div>
          </div>

        <!-- mini vista alloggio -->
        <% include ../partials/miniViewAlloggio.ejs %>
        <!-- mini vista alloggio -->

        </div>
      </div>
    </section>

    <!-- Footer-->
    <% include ../partials/footer.ejs %>
    <!-- Footer-->

    <!-- Script Footer-->
    <% include ../partials/scriptFooter.ejs %>
    <!-- Script Footer -->
  </body>
</html>